<form action="/send_data" method="POST">
  <label for="fname">Age:</label>
  <input type="text" id="fname" name="age" value=0><br><br>
  <label for="lname">Sex:</label>
  <input type="text" id="lname" name="sex" value=0><br><br>
  <label for="lname">Bmi:</label>
  <input type="text" id="lname" name="bmi" value=0><br><br>
  <label for="lname">Bp:</label>
  <input type="text" id="lname" name="bp" value=0><br><br>
  <label for="lname">S1:</label>
  <input type="text" id="lname" name="s1" value=0><br><br>
  <label for="lname">S2:</label>
  <input type="text" id="lname" name="s2" value=0><br><br>
  <label for="lname">S3:</label>
  <input type="text" id="lname" name="s3" value=0><br><br>
  <label for="lname">S4:</label>
  <input type="text" id="lname" name="s4" value=0><br><br>
  <label for="lname">S5:</label>
  <input type="text" id="lname" name="s5" value=0><br><br>
  <label for="lname">S6:</label>
  <input type="text" id="lname" name="s6" value=0><br><br>
  <input type="submit" value="Submit">
</form>
